.none-list {
  list-style: none;
}

.none-style {
  text-decoration: none;
  color: #000000;
}

.gray {
  color: gray;
}

.right {
  float: right;
  margin-right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/*.postWindow:hover {
  display: block;
}*/

.overlay {
  position: absolute;
  top: 4rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.overlay-middle {
  position: absolute;
  top: 5rem;
  left: 27rem;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.overlay-bottom {
  position: absolute;
  bottom: 14rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 3rem;
  left: 1rem;
  /*transform: translateX(-50%);*/
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.8rem;
  width: 100%;
  font-size: 23px;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 11;
}

.locate img {
  width: 30px;
  cursor: pointer;
}

.post-filter {
  position: absolute;
  width: 100px;
  top: 5rem;
  left: 28rem;
  z-index: 13;
}

.label-button {
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.label-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.label-button div img {
  width: 15px;
}

