/* Define theme colors */
:root {  
  --orange: #ff6f69;  
  --pink: #D06DAB;
  --brown: #663E3D;
  --purple: #9173B4;
  --darkRed: #A03D50;
  --darkBlue: #193478;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.none-list {
  list-style: none;
}

.none-list li {
  float: left;
}

.none-style {
  text-decoration: none;
  color: #000000;
}

.gray {
  color: gray;
}

.right {
  float: right;
  margin-right: 0;
  align-items: flex-end;
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.text-center {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  /*-ms-transform:  translateY(-50%);*/
  transform: translateY(-50%);
}

.overlay {
  position: absolute;
  z-index: 12;
  padding: 0;
}

.overlay-middle {
  position: absolute;
  top: 5rem;
  left: 27rem;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.overlay-bottom {
  position: absolute;
  bottom: 10rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
/*  position: absolute;
  top: 3rem;
  left: 1rem;
  /*transform: translateX(-50%);*/
  /*border-radius: 70px;*/
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  width: 100%;
  font-size: 20px;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 11;
}

.locateTo {
  background: none;
  border: none;
  z-index: 11;
}

.locateTo:hover {
  color: #A03D50;
}

.locate img {
  width: 30px;
  cursor: pointer;
}

.post-filter {
  position: absolute;
  width: 100px;
  top: 5rem;
  left: 28rem;
  z-index: 13;
}

.filter-buttons {
  font-family: 'Roboto', sans-serif;
}

.label-button {
  width: 100px;
  height: 40px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1rem 0;
}

.label-button:hover {
  background-color: #D06DAB;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.label-button-filter {
  width: 80px;
  height: 40px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.label-button-filter:hover {
  background-color: #D06DAB;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.label-button div img {
  width: 15px;
}

.buttonDivider {
  display: inline;
  height: 20px;
  width: 0px;
  margin-top: 6px;
  margin-right: 8px;
  margin-left: 8px;
  border-left: 2px solid rgb(221, 221, 221);
}

.post-detail {
  margin-right: auto;
  margin-left: auto;
}

.page-link {
  color: var(--darkRed);
}

.page-link:hover {
  color: #FFF;
  background-color: var(--darkRed);
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}
